.header-wrapper {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  margin: 0 auto;
  max-width: 1200px;
  height: 100%;
  padding: 0;
}

.header-wrapper > .title {
  margin-left: 15px;
  margin-right: 33px;
}

.header-wrapper > .title > a {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  font-size: 16px;
  overflow: hidden;
  width: 36px;
}

.header-wrapper > .title .logo {
  width: 36px;
}

.header-wrapper > .title .title-content {
  margin-left: -20000px;
}

.header-wrapper > .navigation {
  margin-right: 18px;
}

.header-wrapper > .navigation > a {
  margin-right: 28px;
  color: #ecf0f1;
  text-decoration: none;
  transition: color ease 0.2s;
  -webkit-transition: color ease 0.2s;
  -moz-transition: color ease 0.2s;
  -ms-transition: color ease 0.2s;
  -o-transition: color ease 0.2s;
  font-size: 15px;
  cursor: pointer;
}

.header-wrapper > .navigation > a:hover {
  color: #27ae60;
}

.header-wrapper > .search {
  padding: 8px 0;
  border-bottom: 1px solid #ecf0f1;
}

.header-wrapper > .search > i {
  color: #ecf0f1;
}

.header-wrapper > .search > input {
  padding: 0 2px;
  color: #ecf0f1;
  background-color: transparent;
  border: none;
  font-size: 14px;
}

.header-wrapper > .search > input::-webkit-input-placeholder {
  color: #95A5A6;
  font-size: 14px;
}
